<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Champeta </title>
</head>
<body>
    <header>
        <p class="headerP n1">Champeta</p><p class="headerP n2" >11</p>
    </header>
    <div class="preguntasContainer">
        <div class="pregunta">
            <div class="preguntaHeader">
                <div class="pContainer">
                    <p class="preguntaP">Tipo de pregunta</p>
                    <p id="contador">0</p>
                </div>
                <figure>
                    <% if(preguntas[nPregunta].img){ %>
                    <img src="<%= preguntas[nPregunta].img %>" alt="">
                    <% } %>
                </figure>
                <h1 class="preguntaTitle">
                    <%= preguntas[nPregunta].pregunta %>
                </h1>
            </div>
            <div class="opciones"><button class="btn1 btn"><%= desordPreguntas[0] %></button></div>
            <div class="opciones"><button class="btn2 btn"><%= desordPreguntas[1] %></button></div>
            <div class="opciones"><button class="btn3 btn"><%= desordPreguntas[2] %></button></div>
            <div class="opciones"><button class="btn4 btn"><%= desordPreguntas[3] %></button></div>
            <button style="display: none;" class="btn5 btn"><%= preguntas[nPregunta].opcionc  %></button>
            
        </div>
    </div>
    </body>
    <script>
        let contador = sessionStorage.getItem("contador") ? parseInt(sessionStorage.getItem("contador")) : 0;
        document.getElementById("contador").innerText = contador;
        
        function oprimirBtn(event){

            const btn=event.target
            const respuesta=btn.innerText

            let respuestaCorrectaError= null
            for (let i=0;i<preguntas.length;i++){
                if(respuestac==preguntas[i].innerText){
                    respuestaCorrectaError = preguntas[i]
                    break
                }
            }
    
            
            if(respuestac===respuesta){
                contador++
                btn.style.background = "green"
            } else {
                contador = 0
                respuestaCorrectaError.style.background="green"
                btn.style.background = "red"
            }

            document.getElementById("contador").innerText = contador;
            sessionStorage.setItem("contador", contador);
            setTimeout(() => {
                location.reload();
            }, 2000);
            

        }
        document.querySelectorAll(".btn1, .btn2, .btn3 ,.btn4").forEach(btn=>{
            btn.addEventListener("click", oprimirBtn);
        })  

        const btn1=document.querySelector(".btn1")
        const btn2=document.querySelector(".btn2")
        const btn3=document.querySelector(".btn3")
        const btn4=document.querySelector(".btn4")
        const preguntas=[btn1,btn2,btn3,btn4]
        const respuestac= document.querySelector(".btn5").innerText
        const respuestacBtn=document.querySelector(".btn5")
    </script>
    </html>